body {
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.Container {
    display: flex;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    width: 80%;
    margin: 20px 20px 20px 20px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}

h2 {
    margin: 5px;
}

.input_number {
    width: 80px;
    padding: 10px 5px;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
    
}

.error {
    color: red;
    font-weight: 500;
    margin: 10px;
    display: none;
}

.button {
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    text-transform:uppercase;
    font-size: 15px;
    margin: 10px;
    border-radius: 5px;

}

.button:hover {
    color: rgb(9, 9, 9);
    background-color: #9cd8b7;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.gallary_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.gallary_container img {
    width: 100%;
    height: 200px;       
    object-fit: cover;   
    border-radius: 12px;

}

@media (max-width: 900px) {
    .gallary_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .gallary_container {
        grid-template-columns: 1fr;
    }
}


